	<br>
	<br>
	<br>
	<br>
	
	<!-- contact -->
	<div class="contact" id="contact">
		<div class="container">
			<h3 class="title-w3-agile">Contact Us</h3>
			<div class="col-xs-7 contact-agileits-w3layouts">
				<h5 class="sub">Send us a message</h5>
				<form (ngSubmit)="onInsertData(f)" #f="ngForm">
					<input type="text" class="name" name="username"  ngModel id="username" placeholder="Your Name" required>
					<input type="email" class="email" name="email" ngModel id="email" placeholder="Email" required>
					<input type="text" id="phone" name="phone" ngModel placeholder="Your Mobile Number" required>
					<textarea id="message" name="message" ngModel placeholder="Your Message"  required></textarea>
					<button type="submit" [disabled]='!f.valid' class="btn btn-primary">Send</button>
				</form>
			</div>
		</div>
		<div *ngIf="flage"  class="alert alert-success">
			<p>Create contact successfully</p>
		</div>
		
	</div>
