<!-- about -->
<br>
<br>
<br>
<br>
<div class="about w3layouts-agileinfo" id="about">
  <div class="container">
    <h3 class="agile-titlew3">Connecting People and <span>Places</span></h3>
    <div class="about-top w3ls-agile">
      <div class="col-sm-6 red">
        <h5>Travel the world with one of the most <span>experienced travel</span> agencies in the area. Our Agency brings to its
          clients <span>over 50 years</span> of combined travel expertise.</h5>
      </div>
      <div class="col-sm-6 about-wel">
        <p>Worldwide options are available to individuals, families, groups and corporate teams that offer the convenience of skilled
          planning at extraordinary savings.</p>
        <p>Masagni dolores eoquie int Basmodi temporant, ut laboreas dolore magnam aliquam kuytase uaeraquis autem vel eum iure
          reprehend.Unicmquam eius, Basmodi temurer sehsMunim.</p>
      
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>


<!-- team -->
	<div class="team" id="team">
		<div class="container">
			<h3 class="title-w3-agile">Team Members</h3>
			<div class="team-grids">
				<ul class="ch-grid">
					<li class="col-xs-3 ch-grid-item">
						<div class="ch-item ch-img-1">
							<img src="../../assets/images/t1.jpg" alt=" " class="img-circle" style="width:91%; height:100%">
						</div>
						<div class="ch-info">
							<h3>Mohamed Talaat</h3>
							<div class="social-icons animated wow bounceInDown" data-wow-duration="1000ms" data-wow-delay="800ms">
								<ul class="top-links">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
								<div class="clearfix"> </div>
							</div>
						</div>
					</li>
					<li class="col-xs-3 ch-grid-item">
						<div class="ch-item ch-img-2">
							<img src="../../assets/images/t2.jpg" alt=" "  class="img-circle" style="width:100%; height:100%" >
						</div>
						<div class="ch-info">
							<h3>Sandra Raouf</h3>
							<div class="social-icons animated wow bounceInDown" data-wow-duration="1000ms" data-wow-delay="800ms">
								<ul class="top-links">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
								<div class="clearfix"> </div>
							</div>
						</div>
					</li>
					<li class="col-xs-3 ch-grid-item">
						<div class="ch-item ch-img-3">
							<img src="../../assets/images/t3.jpg" alt=" "  class="img-circle" style="width:100%; height:100%">
						</div>
						<div class="ch-info">
							<h3>Ashraf Emad</h3>
							<div class="social-icons animated wow bounceInDown" data-wow-duration="1000ms" data-wow-delay="800ms">
								<ul class="top-links">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
								<div class="clearfix"> </div>
							</div>
						</div>
					</li>
					<li class="col-xs-3 ch-grid-item">
						<div class="ch-item ch-img-4">
							<img src="../../assets/images/t5.jpg" alt=" " class="img-circle" style="width:105%; height:100%">
						</div>
						<div class="ch-info">
							<h3>Eva Magdy</h3>
							<div class="social-icons animated wow bounceInDown" data-wow-duration="1000ms" data-wow-delay="800ms">
								<ul class="top-links">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
								<div class="clearfix"> </div>
							</div>
						</div>
					</li>
				</ul>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //team -->
	


