
<br><br><br><br><br><br><br><br><br><br><br>
<div class="container">
  <div class="row">
      <div class="col-xs-12">
          <div class="well well-sm">
              <div class="row">
                  <div class="col-sm-6 col-md-4">
                      <img src="../../assets/images/te1.jpg" alt="" class="img-rounded img-responsive" />
                  </div>
                  <div class="col-sm-6 col-md-8">
                      <h4>
                          Bhaumik Patel</h4>
                      
                      <p>
                          <i class="glyphicon glyphicon-envelope"></i>email@example.com
                          <br>
                      <!--Split button -->
                     <table style="width:100%;">
                            <tr>
                              <th>Firstname</th>
                              <th>Email</th> 
                            </tr>
                            <tr *ngFor="let user of listUsersFromAPI()">
                              <td>{{user.name}}</td>
                              <td>{{user.email}}</td> 
                            </tr>
                          </table>
                    
                        </div>

                  </div>
              </div>
          </div>
      </div>
  </div>

 <!--<div class="container-fluid">
  <div class="row">
      <div class="col-sm-3 col-md-offset-3"></div>
<button class="btn btn-primary">Get Quotes</button>
<hr>
<table class="table tale-stripped">
        <tr>
            <th class="font-weight-bold"> User Name</th>
            <th class="font-weight-bold"> Email Name</th>
        </tr>
        <tr *ngFor="let user of listUsersFromAPI()">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
    
        </tr>
    </table>
<div id="div1"></div>
</div>-->


